<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GDAL" version="3.4.2" targetFramework="net48" />
  <package id="GDAL.Native" version="3.4.2" targetFramework="net48" />
  <package id="GeoJSON.Net" version="1.2.19" targetFramework="net48" />
  <package id="IxMilia.Dxf" version="0.8.1" targetFramework="net48" />
  <package id="ManagedEsent" version="1.9.4" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.1" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.12.2" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="6.12.2" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.12.2" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net472" />
  <package id="netDXF" version="2.2.0.1" targetFramework="net472" />
  <package id="NetTopologySuite" version="2.3.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="NLog" version="4.7.0" targetFramework="net48" />
  <package id="NLog.Config" version="4.6.8" targetFramework="net472" />
  <package id="NLog.Schema" version="4.6.8" targetFramework="net472" />
  <package id="RestSharp" version="106.12.0" targetFramework="net48" />
  <package id="Serilog" version="2.10.0" targetFramework="net48" />
  <package id="Serilog.Sinks.File" version="5.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.1" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.12.2" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="5.0.1" targetFramework="net48" />
  <package id="System.Text.Json" version="5.0.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Xbim.Common" version="5.1.323" targetFramework="net48" />
  <package id="Xbim.Essentials" version="5.1.323" targetFramework="net48" />
  <package id="Xbim.Ifc" version="5.1.323" targetFramework="net48" />
  <package id="Xbim.Ifc2x3" version="5.1.323" targetFramework="net48" />
  <package id="Xbim.Ifc4" version="5.1.323" targetFramework="net48" />
  <package id="Xbim.IO.Esent" version="5.1.323" targetFramework="net48" />
  <package id="Xbim.IO.MemoryModel" version="5.1.323" targetFramework="net48" />
  <package id="Xbim.Tessellator" version="5.1.323" targetFramework="net48" />
</packages>