<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Serilog" version="2.8.0" targetFramework="net461" />
  <package id="Serilog.Sinks.Console" version="3.1.2-dev-00788" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="4.1.0-dev-00806" targetFramework="net461" />
</packages>